<footer class="footer">
  <div class="container">
    <a class="copyright" href="#">ZerOne © 2020</a>
    <section class="socials">
      <a href="https://vk.com/devzero1" class="socials-link">
        <img src="../img/index/icon_socials/icon_vk.svg"   alt="icon_vk"  class="socials_link-icon"/>
      </a>
      <a href="https://www.facebook.com/zeronedigital" class="socials-link"><img  src="../img/index/icon_socials/icon_facebook.svg"  alt="icon_fc"  class="socials_link-icon"/>
        </a>
      <a href="https://www.instagram.com/zerone_agency/" class="socials-link">
        <img src="../img/index/icon_socials/icon_inst.svg"  alt="icon_inst" class="socials_link-icon"/>
      </a>
    </section>
  </div>
</footer>
</body>
</html>