@game-over_widht-pc: 670px;

.game-over {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: @game-over_widht-pc;
  z-index: 1;

  @media (max-width: calc(@game-over_widht-pc + 50px)) {
    width: 90vw;
  }
}

.game-over__img {
  display: block;
  margin: 0 auto;
  z-index: 10;

  @media (max-width: calc(@game-over_widht-pc + 50px)) {
    width: 80vw;
  }

  @media (max-height: @phone-height_small_portrait) {
    height: 30vh;
    max-height: 150px;
  }
}

.game-over__title {
  display: block;
  margin: 0 auto;
  margin-top: 20px;

  font-family: "Cuprum";
  font-size: 36px;
  text-align: center;

  @media (max-width: calc(@game-over_widht-pc + 50px)) {
    font-size: 28px;
  }
}

.game-over__wrapper {
  width: 100%;
  height: 70px;
  margin-top: 40px;
  display: flex;
  justify-content: space-around;

  text-align: center;

  @media (max-height: @phone-height_small_portrait) {
    margin-top: 10px;
    height: 50px;
  }
}

.game-over__button {
 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 100%;

  background: rgba(0, 0, 0, 0.6);
  border-radius: 1px;

  font-family: "Bebas Neue";
  font-weight: bold;
  font-size: 36px;

  transition: @hide-setting;

  @media (max-width: calc(@game-over_widht-pc + 50px)) {
    width: calc((100% - 20px) / 2);
  }

  @media (max-width: @phone) {
 
    font-size: 26px;
  }
 

  &&:hover {
    background: #f31526;
    border-radius: 1px;
  }
}