.footer {
  position: fixed;
  width: 100%;
  bottom: @footer-offset;
  padding-top: 30px;
  height: @footer-height;
  @media (max-height: @phone) {
    padding-top: calc(@footer-height_phone / 5);
    height: @footer-height_phone;
    bottom: @footer-offset_phone;
  }

  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

footer .socials.active {
  opacity: 0;
  transition: @hide-setting;
}

.copyright {
  display: inline-block;

  font-size: 16px;
  text-transform: uppercase;
}

.socials {
  display: inline-block;

  font-size: 16px;
  text-transform: uppercase;
}
.socials-link {
  margin-right: 15px;
  @media (max-width: @tablet) {
    margin-right: 25px;
  }
}
