.header {
  position: fixed;
  width: 100%;
  height: @header-height;
  top: 0px;

  //height: 100%;

  z-index: 1;

  & .container {
    &:after {
      clear: both;
      display: block;
      content: "";
    }

    & .right {
      position: relative;
      width: 360px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      @media (max-width: @phone) and (orientation: portrait) {
        width: fit-content;
      }
      @media (max-width: @small_tablet) {
        width: fit-content;
      }
    }
  }
  @media (max-height: @phone-height) {
    height: @header-height_phone-height;
  }
  @media (max-width: @phone) {
    height: @header-height_phone;
  }
}

.logo {
  display: block;
  margin-top: @padding-top;
  width: fit-content;
  @media (max-width: @phone) and (orientation: portrait) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  @media (max-height: 680px) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

.logo__img {
  display: block;
  @media (max-width: @phone) and (orientation: portrait) {
    width: 69px;
    height: 30px;
  }
}
.logo__description {
  display: none;
  width: 143px;
  margin-left: 16px;

  font-family: "Cuprum";
  font-size: 18px;
  line-height: 1;
  @media (max-width: @phone) and (orientation: portrait) {
    display: block;
  }

  @media (max-height: 680px) {
    display: block;
    font-size: 18px;
  }
  @media (max-width: 325px) {
    display: block;
    width: 95px;
    font-size: 12px;
    margin-left: 6px;
  }
}
.header__menu-row {
  display: flex;
  flex-direction: row;
}

.header__menu-contacts {
  margin-top: 13px;
  margin-right: 22px;
  @media (max-width: @phone) {
    display: none;
  }
  @media (max-width: @phone) and (orientation: portrait) {
    display: none;
  }

  @media (max-height: 680px) {
    margin-top: 10px;
    margin-right: 22px;
  }
}

.header__menu-tel,
.header__menu-email {
  display: block;
  font-weight: bold;

  text-align: right;
  text-decoration: none;
  color: #ffffff;
}

.header__menu-tel {
  font-size: 24px;
}

.header__menu-email {
  font-size: 18px;
}

.burger-icon {
  position: relative;
  display: block;
  width: 68px;
  height: 66px;

  background: #000000;
  border-radius: 1px;

  @media (max-width: @phone) {
    width: 42px;
    height: 42px;
  }

  @media (max-height: @phone-height) {
    width: 42px;
    height: 42px;
  }

  & .burger-icon__line {
    position: relative;
    margin: 0 auto;
    width: 24px;
    height: 3px;

    background: #ffffff;

    @media (max-width: @phone) {
      width: 14px;
      height: 2px;
    }
    @media (max-height: @phone-height) {
      width: 14px;
      height: 2px;
    }

    &::before {
      position: absolute;
      display: block;
      content: "";
      left: 0;
      top: 10px;
      width: 24px;
      height: 3px;
      background: #ffffff;

      @media (max-width: @phone) {
        top: 5px;
        width: 14px;
        height: 2px;
      }
      @media (max-height: @phone-height) {
        top: 5px;
        width: 14px;
        height: 2px;
      }
    }

    &::after {
      position: absolute;
      display: block;
      content: "";
      left: 0;
      top: -10px;
      width: 24px;
      height: 3px;
      background: #ffffff;

      @media (max-width: @phone) {
        top: -5px;
        width: 14px;
        height: 2px;
      }
      @media (max-height: @phone-height) {
        top: -5px;
        width: 14px;
        height: 2px;
      }
    }
  }

  &.active {
    z-index: 5;
    background: none;

    & .burger-icon__line {
      background: transparent;

      &::before {
        top: 0px;
        transform: rotate(45deg);
        transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
      }

      &::after {
        top: 0px;
        transform: rotate(-45deg);
        transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
      }
    }

    & .burger-icon__text {
      display: inline-block;
      position: absolute;
      padding-top: 20px;
      padding-left: 20px;
      height: 100%;

      opacity: 1;
      vertical-align: middle;
      top: 0;
      left: -80px;
      transition: 0.8s;

      @media (max-width: @phone) {
        padding-top: 10px;
        top: 0;
        left: -90px;
      }
      @media (max-height: @phone-height) {
        padding-top: 10px;
        top: 0;
        left: -90px;
      }
    }
  }
}

//  Свойство сокрытия хэдера, при всплытии бургера
@hide-setting: 0.8s;

.header.active {
  & .header__menu-contacts {
    opacity: 0;
    transition: @hide-setting;
  }

  & .header__menu-contacts,
  .menu_language,
  .portfolio__list,
  .portfolio {
    opacity: 0;
    transition: @hide-setting;
  }

  & .burger-menu .menu_language {
    opacity: 1;
  }
}

//  Свойство сокрытия хэдера, при всплытии бургера
.burger-icon__text {
  display: none;
  font-weight: bold;
  font-size: 24px;
  opacity: 0;
  transition: 0.8s;
}

@transition-burger: all 0.7s;

.burger-icon.active ~ .burger-menu {
  z-index: 1;

  opacity: 1;
  transition: @transition-burger;
  transform: translateX(0px); //burger-open
  @media (max-width: @phone) {
    transform: translateX(calc(-50vw + 42px));
    width: 110vw;
  }
  @media (max-width: @phone) and (orientation: portrait) {
    transform: translateX(calc(-100vw + 42px));
    width: 110vw;
  }
  @media (max-height: @phone-height_burger_landscape) and (orientation: landscape) {
    transform: translateX(calc(-300px + 42px));
    width: 110vw;
  }
  @media (max-height: @phone-height_burger_landscape) and (orientation: landscape) and (max-width: @phone) {
    transform: translateX(calc(-95vw + 42px));
    width: 110vw;
  }
}

.burger-menu {
  display: none;
  position: absolute;
  padding-left: 65px;
  padding-top: 140px;
  width: calc(100vw);
  height: calc(100vh);
  left: 0px;
  top: 0px;

  background: rgba(0, 0, 0, 0.98);
  border-radius: 1px;
  opacity: 0;
  transition: @transition-burger;
  transform: translateX(550px); //burger-hide
  z-index: -1;

  @media (max-width: @phone) {
    padding-top: 50px;
  }
  @media (max-height: 700px) {
    padding-top: 70px;
  }

  & .burger-menu__list {
    width: 160px;
    height: 330px;

    overflow: auto;

    & .burger-menu__list-item {
      margin-bottom: 32px;
      width: 100%;
      @media (max-height: @phone) {
        margin-bottom: 15px;
      }
      @media (max-height: @phone-height_burger_landscape) and (orientation: landscape) {
        width: fit-content;
        margin-left: 10px;
      }
    }

    & .burger-menu__list-link {
      @offset: -5px;
      position: relative;
      display: inline-block;
      padding-left: -@offset;
      width: 100%;

      font-weight: bold;
      font-size: 32px; 

      &:hover:before {
        display: block;
        content: "";
        position: absolute;
        top: 35%;
        left: @offset;
        width: calc(100% - @offset);
        height: 80%;

        background: #f31526;
        z-index: -1;
        transition: @transition-settings;
        @media (max-height: @phone-height_burger_landscape) and (orientation: landscape) {
          height: 24px;
        }
      }
      @media (max-height: @phone) {
        font-size: 24px;
      }
    }

    @media (max-height: @phone) {
      height: 250px;
      margin-top: 0;

      font-size: 26px;
    }
    @media (max-height: @phone-height_burger_landscape) and (orientation: landscape) {
      display: flex;
      width: 360px;
      flex-direction: row;
      height: 107px;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-between;
    }
  }

  & .burger-menu__tel {
    display: block;
    margin-top: 55px;
    width: fit-content;

    font-weight: bold;
    font-size: 36px;
    line-height: 1;
    @media (max-width: @phone) {
      margin-top: 30px;
    }
    @media (max-height: @phone) {
      margin-top: 10px;
      font-size: 26px;
    }
    @media (max-height: 640px) {
      margin-top: 10px;
    }
    @media (max-height: @phone-height_burger_landscape) and (orientation: landscape) {
      display: inline-block;
    }
  }

  & .burger-menu__menu-email {
    display: block;
    margin-top: 14px;
    width: fit-content;

    font-weight: bold;
    font-size: 24px;
    line-height: 24px;

    & span {
      color: #f31526;
    }
    @media (max-height: @phone-height_burger_landscape) and (orientation: landscape) {
      display: inline-block;
      margin-left: 25px;
    }
  }

  & .socials {
    margin-top: 14px;
    @media (max-height: @phone-height_burger_landscape) and (orientation: landscape) {
      display: block;
    }
  }

  & .menu_language {
    margin-top: 55px;
    @media (max-width: @phone) {
      display: block;
      margin-top: 20px;
    }

    @media (max-height: 610px) {
      margin-top: 10px;
    }
  }
}

.menu_language {
  margin-top: 12px;

  & .menu_language__btn {
    display: inline-block;

    font-weight: bold;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;

    &.active {
      color: #f31526;
    }

    &:last-child {
      margin-left: 9px;
    }
  }

  @media (max-width: @phone) {
    display: none;
  }
  @media (max-height: @phone-height) {
    display: none;
  }
}
