@application-height_media: 775px;
@application-width_media: 576px;


.apllication {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;

  z-index: 1;

  @media (max-width: @pc) {
    justify-content: center;
  }

  @media (max-width: @small_tablet) {
    justify-content: center;
    align-items: center;
  }

  @media (max-height: @application-height_media) {
    align-items: center;
  }

  @media (max-height: 530px) and (orientation: portrait) {
    align-items: flex-end;
  }
}

///////////
.headline {
  width: fit-content;
}

.headline__title-wrapper {
  margin-top: 30px;
  margin-left: 105px;
  width: 370px;
  z-index: 1;

  @media (max-width: 1440px) {
    margin-top: 30px;
    margin-left: 0;
    //width: 280px;
  }

  @media (max-width: @pc) {
    display: none;
  }
}

.headline__title {
  font-weight: bold;
  font-size: 68px;
}

.headline__sub-title {
  font-family: "Cuprum";
  font-size: 36px;
  line-height: 1;
}

.headline__img {
  position: absolute;
  top: -50px;
  left: -150px;
  width: 874px;
  height: auto;

  z-index: -1;
}

/////////////////
.application-form {
  width: 810px;
  height: fit-content;
  padding: 40px 50px;
  margin-top: 33px;

  background: linear-gradient(90deg,
      rgba(0, 0, 0, 0.7) 6.54%,
      rgba(0, 0, 0, 0) 127.72%);
  border-radius: 1px;

  @media (max-width: @tablet) {
    width: 100%;
  }

  @media (max-width: @application-width_media) {
    padding: 20px 40px;
    margin-top: 10px;
    //   width: 90%;
  }

  @media (max-width: @phone) {
    padding: 20px 20px;
    width: 100vw;
  }

  @media (max-height: 510px) and (orientation: portrait) {
    padding: 15px 15px;
  }

  @media (max-height: @application-height_media) and (orientation: portrait) {
    padding: 15px 15px;
  }

  @media (max-height: @application-height_media) and (orientation: landscape) {
    margin-top: 0;
    padding: 15px 15px;
  }

  @media (max-height: 470px) and (orientation: landscape) {
    margin-top: 0;
    padding: 5px 15px;
  }
}

.application-form_title {
  font-weight: 700;
  font-size: 68px;

  text-align: center;

  @media (max-width: 830px) {
    font-size: 48px;
  }

  @media (max-width: @phone),
  (max-height: @application-height_media) {
    font-size: 38px;
  }

  @media (max-height: @application-height_media) and (orientation: portrait) {
    font-size: 33px;
  }

  @media (max-height: 470px) and (orientation: landscape) {
    font-size: 28px;
  }
}

.application-form_inner {
  margin-top: 35px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  height: auto;

  @media (max-width: @application-width_media) and (orientation: portrait) {
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: @phone),
  (max-height: @application-height_media) {
    margin-top: 15px;
  }

  @media (max-height: @application-height_media) and (orientation: portrait),
  (max-height: @application-height_media) {
    margin-top: 5px;
  }
}

.input {
  position: relative;
  height: 41px;
  width: 320px;
  margin-bottom: 40px;
  padding-left: 7px;
  padding-right: 7px;

  font-family: "Cuprum";
  font-size: 24px;
  background-color: transparent;
  border-bottom: 1px solid #ffffff; 

  z-index: 1;

  @media (max-width: 830px) {
    width: calc((100% - 20px) / 2);
  }

  @media (max-width: @application-width_media),
  (max-height: @application-height_media) {
    margin-bottom: 20px;
  }

  @media (max-width: @phone) {
    width: 100%;
  }

  @media (max-height: @application-height_media) and (orientation: portrait),
  (max-height: 470px) and (orientation: landscape),
  (max-height: @phone) {
    margin-bottom: 7px;
    height: 35px;

    font-size: 18px;
  }

  @media (max-height: 470px) and (orientation: landscape) {
    width: calc((100% - 20px) / 2);
  }

  @media (max-height: 470px) and (orientation: landscape) {
    margin-bottom: 7px;
    height: 30px;

    font-size: 18px;
  }



  &::placeholder, &::-webkit-input-placeholder, &::-moz-placeholder, &:-moz-placeholder {
    font-family: "Cuprum";
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #ffffff;
    opacity: 1;
  } 

  &&[type="submit"] {
    width: 320px;
    height: 70px;

    font-family: "Bebas Neue";
    font-weight: bold;
    font-size: 36px;
    line-height: 1;
    text-align: center;

    color: #ffffff;

    background: rgba(243, 21, 38, 0.8);
    border: none;
    border-radius: 1px;

    @media (max-width: 830px) {
      width: calc((100% - 20px) / 2);
    }

    @media (max-width: @phone) {
      width: 100%;
    }

    @media (max-height: @application-height_media) and (orientation: portrait),
    (max-height: @application-height_media) {
      height: 40px;
      font-size: 26px;
    }

    @media (max-height: 470px) and (orientation: landscape) {
      width: calc((100% - 20px) / 2);
    }
  }

  &&[type="checkbox"] { 
    opacity: 0; 
    margin: 0;
    z-index: -1;
    margin-right: 10px;
    width: 14px;
    height: 14px;
 
    &~p::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 3px;
      left: -20px;
      width: 14px;
      height: 14px;

      border: 1px solid white;
      border-radius: 2px;
    }
    &:checked~p::before {
      content: "";
      display: block;
      position: absolute;
      bottom: 3px;
      left: -20px;
      width: 10px;
      height: 10px;

      background-color: white; 
      border-radius: 2px;
      transform: translate(30%,-30%);
    }
  }

  &&[type="file"] {
    border: none;
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 210px;


  }
}

.submit {
  margin-bottom: 15px;

  @media (max-width: @application-width_media) and (orientation: portrait) {
    margin: 0;
    margin-top: 15px;
  }
}

.input_message {
  width: 100%;
}

.input-file__wrapper {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  overflow: hidden;

  @media (max-height: @application-height_media) and (orientation: portrait) {
    margin-top: 7px;
  }
}

.input-file__img {
  display: block;
  width: 28px;
  height: auto;

  @media (max-height: @application-height_media) and (orientation: portrait),
  (max-height: @application-height_media) {
    width: 18px;
    height: auto;
  }
}

.input-file__text {
  margin-left: 10px;
  max-width: 270px;

  font-family: "Cuprum";
  font-size: 24px;
  line-height: 36px;

  @media (max-height: @application-height_media) and (orientation: portrait) {
    font-size: 18px;
    line-height: 1px;
  }
}

.label-personal {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: 10px;
  padding-left: 10px;

  font-size: 14px;

  @media (max-width: @application-width_media) and (orientation: portrait) {
    margin: 0;
    margin-top: 20px;
  }

  @media (max-height: @application-height_media) and (orientation: portrait) {
    margin-top: 15px;
    font-size: 11px;
  }
}
.personal-input { 
  position: relative;
  display: block;
  width: fit-content;
  line-height: 1;
  text-align: right; 
  font-family: "Cuprum"; 
}