@phone: 576px;
@small_tablet: 768px;
@tablet: 992px;
@pc: 1200px;
@phone-width_landscape: 560px;
@phone-height: 400px;
@phone-height_small_landscape: 350px;
@phone-height_small_portrait: 550px;
@phone-height_burger_landscape: 480px;
// for @media requst
@padding-right: 10px;
@padding-left: 10px;
@padding-top: 10px;

@header-height: 105px;
@header-height_phone-height: 55px;
@header-height_phone: 46px;

@footer-offset: 40px;
@footer-offset_phone: 10px;
@footer-height: 50px;
@footer-height_phone: 30px;

//transition 
@transition-settings: all 0.3s linear;

* {
  box-sizing: border-box;

  cursor: url("../files/cursor/custom/Arrow.cur"), auto;

  &:active {
    cursor: url("../files/cursor/custom/NO.cur"), auto;
  }

  &:focus {
    cursor: url("../files/cursor/custom/NO.cur"), auto;
  }
}

body,
html,
ul,
h1,
h2,
h3,
h4,
h5,
p,
a,
button,
input {
  margin: 0;
  padding: 0;
  border: none;

  font-family: "Bebas Neue", "Cuprum", sans-serif;
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;

}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  background: url("../img/index/background-img/none_backgroung-img.png");
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: @phone) {
    background: url("../img/index/background-img/none_backgroung-img.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

* {
  //scrollbar styles
  scrollbar-color: #FFFFFF #4b4b4b;
  scrollbar-width: thin; 

  &::-webkit-scrollbar,&::-webkit-scrollbar-button {
    width: 3px;
    height: 3px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 1px;
  }

  &::-webkit-scrollbar-thumb {
    background: #FFFFFF; 
    border-radius: 1px;
  } 
}

ul {
  list-style: none;
}

.container {
  width: 1420px;
  margin-left: auto;
  margin-right: auto;
  padding-left: @padding-left;
  padding-right: @padding-right;

  @media (max-width: @phone) and (orientation: portrait) {
    width: unset;
    //   max-width: 90vw;
  }

  @media (max-width: @small_tablet) {
    width: 95vw;
  }

  @media (min-width: @small_tablet) {
    width: 750px;
  }

  @media (min-width: 830px) {
    width: 830px;
  }

  @media (min-width: @tablet) {
    width: 960px;
  }

  @media (min-width: @pc) {
    width: 1140px;
  }

  @media (min-width: 1440px) {
    width: 1420px;
  }
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;

  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

.none {
  display: none !important;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}