.league {
    width: 100%;
    height: 100%;
    display: flex;
}
.league__wrapper {
    display: flex;
    align-items: baseline;
    width: fit-content;
    height: fit-content;
    justify-content: center;
    align-items: center; 
    @media (max-width: @tablet) {
        flex-direction: column;
        width: 100%;
    }
    @media (max-width: @phone) {
       justify-content: center;
       align-items: center;
    }
}
.league__title {
    margin-right: 50px;
    height: fit-content;
    font-weight: bold;
    font-size: 68px;
    text-align: center; 
    max-height: 150px;
    overflow: auto;
    @media (max-width: @tablet) {
        margin: 0;
    }
    @media (max-width: @phone) { 
        margin: 0;
        margin-top: 20px; 
    }
    @media (max-width: @phone) and (orientation: portrait) {
        max-height: 220px; 
    }
}
.league__viev {
    height: fit-content;
    @media (max-width: @tablet) {
        display: inline-block;
        float: none;
        margin-top: 20px;
        max-width: 250px;
        width: calc((100% - 10px) / 2);
        padding: 0;
        font-weight: bold;
        height: auto;
        line-height: 2;
        vertical-align: middle;
        font-size: 18px;
        text-align: center;
        transition: all 0.3s linear;
        background: rgba(0, 0, 0, 0.6);
        background: rgba(243, 21, 38, 0.6);
    }
    @media (max-width: @phone) {
        margin-top: 20px;
    }
}
.league__viev-text {
    font-family: Cuprum; 
    font-weight: bold;
    font-size: 24px;  
}
.league-background {
    position: absolute;
    height: 130%;
    width: auto;
    bottom: calc(-0% - @footer-height - @footer-offset);
    right: -0%;
    z-index: -1;
    transform: translate(25%,0);
    @media (max-width: @phone) and (orientation: portrait) {
        height: 100%;
    }
}