@head-mobile-width: 450px;
@photo_column-direction: 730px;
@photo_row-direction_height: 650px;

// ЕСТЬ БАГА ПРИ КЛИКИ ПО ФОТО В ОБЛАСТИ ИКОНКИ СОЦИАЛЬНОЙ СЕТИ

.command {
    word-break: break-all;
    width: 100%;
    height: 100%;
}

@command-head_height: 17%;
@command-head_height-phone: 45px;
.command-head {
    width: 100%;
    height: @command-head_height;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    @media (max-width: @phone) and (orientation: portrait){
        height: 55px;
    }
    @media (max-width: 450px) and (orientation: portrait){
        height: @command-head_height-phone;
    }
    /*
  @media (max-height: @photo_row-direction_height) and (orientation: landscape) 
    and (min-height: @phone-height + 1px) and (min-width: @phone){ 
        transform: translateY(-95%);
    }  */
    @media (max-height: @photo_row-direction_height) and (orientation: landscape) {
        height: @command-head_height-phone; 
    }  
}
.command-head__title {
    font-weight: bold;
    font-size: 68px;
    line-height: 1; 
    @media (max-width: @phone) and (orientation: portrait) {
        font-size: 55px;
    }
    @media (max-width: @head-mobile-width) {
        font-size: 45px;
    }
    @media (max-height: @photo_row-direction_height) and (orientation: landscape){
        font-size: 38px;
     } 
}
.command-head__subtitle {
    @media (max-width: @head-mobile-width) {
        display: none;
    }
}
.command-head__arrow {
    width: 120px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    @media (max-width: @head-mobile-width), 
    (max-height: @photo_row-direction_height) and (orientation: landscape) {
        width: 90px;
    }
  /*  @media (max-height: @photo_row-direction_height) and (orientation: landscape) and (min-height: @phone-height + 1px){
       margin-right: 90px;
    } 
    */
}
.command-head__right , .command-head__left {
    position: relative;
    width: 48px;
    height: 48px;

    background-color: transparent;
    border: 4px solid white;
    border-radius: 20%;
    z-index: 1;
    @media (max-width: @head-mobile-width),
    (max-height: @photo_row-direction_height) and (orientation: landscape) {
        width: 38px;
        height: 38px;
    }
    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 35%;
        height: 3px;
        background: white;
        border-radius: 2px;
        transform: translate(-50%, 150%) rotate(-45deg);
    }
    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 35%;
        height: 3px;
        background: white;
        border-radius: 2px;
        transform: translate(-50%, -150%) rotate(45deg);
    }
}

.command-head__left {
    &:after,:before {
        transform: translate(-50%, 150%) rotate(45deg);
    }
    &:before {
         transform: translate(-50%, -150%) rotate(-45deg);
    }
}
.photo {
    padding-top: 20px;
    width: 100%;
    height: calc(100% - @command-head_height);
    overflow: hidden;
    @media (max-width: @phone)  and (orientation: portrait){
        height: calc(100% - @command-head_height-phone);
    }
    @media (max-height: @photo_row-direction_height) and (orientation: landscape){ 
        padding-top: 10px;
        height: calc(100% - @command-head_height-phone);
    } 
}
.photo__list {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    width: fit-content;
    
    transform: translate(0,0);
    transition: @transition-settings;
    @media (max-width: @phone)  and (orientation: portrait) and (min-height: @photo_column-direction){
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    } 
}
.photo__item { 
    position: relative;
    margin-right: 15px;
    height: 100%;
    width: 270px;
    padding: 30px 27px;
    overflow: auto;

    font-size: 36px;
    transition: @transition-settings;
    border-radius: 0px 0px 1px 1px; 
    &::-webkit-scrollbar {
        display: none; 
      }
    
      &::-webkit-scrollbar-thumb {
        display: none; 
      }
 
    @media (max-width: @phone)  and (orientation: portrait) and (min-height: @photo_column-direction){
        margin-bottom: 15px;
        padding: 20px 17px;
        height: 47%;
 
        font-size: 29px;
   } 
   @media (max-width: @phone)  and (orientation: portrait) and (max-height: 500px), 
   (max-height: @photo_row-direction_height) and (orientation: landscape){
    padding: 20px 17px;
    font-size: 29px;
    } 
    @media  (max-height: 550px) and (orientation: landscape) {
        padding: 5px 10px;
        width: 170px; 
    }
}

.photo__item:hover {
    background-color: red;
    transition: @transition-settings;
 
    & .photo__description {
        opacity: 1;
        transition: @transition-settings;
    }
    & .photo__name-previously {
        opacity: 0;
        transition: @transition-settings;
        z-index: -1;
    } 

    & .photo__wrapper { 
        &::-webkit-scrollbar {
            display: block; 
          } 
        &::-webkit-scrollbar-thumb {
            display: block; 
          }
    } 
}

.photo__img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
}
.photo__wrapper {
    padding-right: 5px;
    width: 100%;
    height: 100%;
    overflow: auto;
    &::-webkit-scrollbar {
        display: none; 
      } 
    &::-webkit-scrollbar-thumb {
        display: none; 
      }
}

.photo__description {
    z-index: 1;
    opacity: 0;
    text-shadow: 1px 0px 5px black; 
    font-size: 100%;
    & .photo__name {
        @media (max-height: 470px) and (orientation: landscape) {
            display: none;
        }
    }
}
.photo__name {
    font-weight: bold;
    font-size: 100%;
    line-height: 1;
    text-shadow: 1px 0px 2px black; 
}
.photo__name-br {
    @media (max-width: @phone)  and (orientation: portrait) 
    and (min-height: @photo_column-direction),
    (max-height: @phone) and (orientation: landscape)  {
        display: none;
   } 
}
.photo__name-previously {
    position: absolute;
    bottom: 30px;
    transition: @transition-settings; 
}
.photo__job-position {
    margin-top: 10px;
    font-weight: bold;
    font-size: 45%;  
}
.photo__socials {
    margin-top: 8px;
   height: 14px;
   display: flex;
   z-index: -1;
}
.photo__social-link {
    display: block;
    margin-right: 25px;
}
.photo__social-img {
    display: block;
    height: 100%;
    width: auto;
}
.photo__description-text {
    margin-top: 26px;
    font-size: 40%; 
    @media (max-height: 700px) and (orientation: landscape) {
        margin-top: 5px;
   } 
}
.photo__paragrapth {
    margin-bottom: 16px;
    font-family: "Cuprum";
    font-size: 100%; 
    @media (max-width: @phone)  and (orientation: portrait) 
    and (min-height: @photo_column-direction),
    (max-height: 700px) and (orientation: landscape) {
        margin-bottom: 5px;
   } 
}