@contact-info_height: 900px;
@contact-info_height-small: 700px;
.contacts {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    @media (max-width: @phone) and (orientation: portrait) {
        flex-direction: column;
    }
}

.contact-info {
    display: flex;
    max-width: 50%;
    height: 70%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;

    @media (max-width: @pc)  {
        flex-direction: column;
        height: 90%;
    }

    @media (max-height: @contact-info_height) { //900px
        height: 100%;
    }

 
    @media (max-height: 450px) and (min-height: @phone-height + 1px) and (min-width: @phone) {
        transform: translateY(-50px);
        height: 118%;
    }

    @media (max-width: 1440px)  {
        max-width: 47%;
    }
    @media (max-width: @phone) and (orientation: portrait) {
        max-width: 100%;
        height: 50%;
        flex-direction: row;
    }
    @media (max-height: 520px) and (orientation: portrait) and (max-width: @phone)  {
        height: fit-content;
    }
}

.contact-info__title {
    margin-top: 46px;
    width: 100%;

    font-weight: bold;
    font-size: 68px;
    color: #FFFFFF;

    @media (max-width: @pc) and (orientation: landscape) {
        margin-top: 26px;
        width: fit-content;
    }
    @media (max-width: 830px)  {
        font-size: 48px;
    }
    @media (max-width: 576px), (max-height: 775px) {
    font-size: 38px;
    }
    @media (max-height: @contact-info_height), (max-width: 490px) and (orientation: portrait) {
        margin-top: 5px;
    }
    @media (max-height: @phone) and (orientation: landscape) {
        margin-top: 0;
        font-size: 42px;
    }
    @media (max-height: 470px) and (orientation: landscape) {
    font-size: 28px;
}
    @media (max-height: @application-height_media) and (orientation: portrait)  { //775px
    font-size: 33px;
    }
    @media (max-height: 520px) and (orientation: portrait) and (max-width: @phone)  {
        margin-top: 0;
    }
}

.contact-info__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 10px;
    width: 330px;
    height: fit-content;

    @media (max-width: 1440px) {
        width: fit-content;
    }

    @media (max-height: @phone) and (orientation: landscape) {
        margin-top: 5px;
    }
    @media (max-height: 400px) and (orientation: landscape) and (max-width: @pc){
        flex-direction: row;
        flex-wrap: wrap;
    }
}
.contact-info__wrapper-tel {
    @media (max-height: 400px) and (orientation: landscape) {
        justify-content: flex-start; 
    }
}

.contact-info__tel {
    @media (max-width: @pc) {
        width: 100%;
    }
    &&~ .contact-info__link {
        @media (max-width: @pc) {
            margin-right: 15px;
        }
        @media (max-height: 400px) and (orientation: landscape) {
            margin-left: 45px;
        }
    }
}

.contact-info__subtitle {
    margin-bottom: 20px;
    margin-right: 10px;

    font-family: "Cuprum";
    font-size: 24px;

    @media (max-height: @phone) and (orientation: landscape) {
        margin-bottom: 5px;
    }
    @media (max-height: @contact-info_height-small) and (max-width: @pc), (max-width: 490px) and (orientation: portrait) {
        margin-bottom: 5px;
    }
    @media (max-height: 630px)  and (max-width: @pc), (max-width: 440px) and (orientation: portrait){
        font-size: 18px;
    }
    @media (max-width: 370px) and (orientation: portrait), (max-height: 520px) and (orientation: portrait) {
        font-size: 16px;
    }

}

.contact-info__link {
    font-weight: bold;
    font-size: 48px;
    overflow-wrap: anywhere;
    @media  (max-width: 1440px) {
        font-size: 34px;
    }
 
    @media (max-height: @contact-info_height-small)  and (max-width: @pc), (max-width: 490px) and (orientation: portrait) {
        font-size: 28px;
    }
    @media (max-height: 630px)  and (max-width: @pc), (max-width: 440px) and (orientation: portrait){
        font-size: 25px;
    }
    @media (max-width: 370px) and (orientation: portrait), (max-height: 520px) and (orientation: portrait){
        font-size: 21px;
    }
    @media (max-height: 350px) {
        font-size: 20px;
    }
 
    & .contact-info_sub {
        font-size: 100%;
        color: #F31526;
        text-transform: none;
        vertical-align: baseline;
    }
}

.contact-info_download {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    height: 70px;

    background: rgba(0, 0, 0, 0.6);
    border-radius: 1px;

    font-weight: bold;
    font-size: 36px;
    text-align: center;
    transition: @transition-settings;

    @media (max-width: 1440px) {
        padding: 0 10px;
        font-size: 30px;
    }
    @media (max-width: @pc) and (orientation: landscape) {
        margin-top: 6px;
    }
    @media (max-width: 490px) and (orientation: portrait) {
        flex-wrap: wrap;
        padding: 0;
        width: 183px;
        font-size: 26px;
    }
    @media (max-width: 440px) and (orientation: portrait) {
        height: 60px;
        font-size: 26px;
    }
    @media (max-width: 370px) and (orientation: portrait), (max-height: 520px) and (orientation: portrait) {
        width: 150px;
        height: 50px;
        font-size: 21px;
    }


    @media (max-height: @contact-info_height-small) and (max-width: @pc), (max-width: 490px) and (orientation: portrait){
        margin-top: 0;
    }
    @media (max-height: 630px) and (max-width: @pc) and (orientation: landscape) {
        height: 40px;
        font-size: 26px;
    }
    
    @media (max-height: 350px) {
        height: 30px;
        font-size: 20px;
    }
    &:hover {
        background: rgba(243, 21, 38, 0.8);
    }
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-content: space-between;
    width: 600px;
    width: 40%;
    height: fit-content;
    height: 90%;
    padding: 42px 50px;
    margin-top: 33px;

    background: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 6.54%, rgba(0, 0, 0, 0) 127.72%);
    border-radius: 1px;

    @media (max-width: 1440px)  {
        width: 500px;
        padding: 30px 30px;
    }
    
    @media (max-width: @tablet)  {
        width: 50%;
        padding: 30px 30px;
    }

    @media (max-height: @phone) and (orientation: landscape) {
        margin-top: 5px;
        padding: 10px 30px;
    }

    @media (max-width: @phone)  and (orientation: landscape) {
        padding: 10px 15px;
    }
 
    @media (max-height: 900px) {
        height: 100%;
        margin-top: 5px;
    }
    @media (max-height: 700px) and (min-width: @phone){
        max-width: 50%;
    }
    @media (max-width: @phone) and (orientation: portrait) {
        width: 100%;
        height: 50%;
    }
    @media (max-height: 650px) and (orientation: portrait) {
        padding: 10px 15px;
    }
    @media (max-height: 520px) and (orientation: portrait) and (max-width: @phone)  {
        height: 55%;
    }

}

.contact-form__title {
    font-weight: bold;
    font-size: 68px;
    text-align: center;
    
}

// Теперь не задуйствован
.contact-form__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
}

.conctact-input {
    width: 100%;

    @media (max-height: 470px) and (orientation: landscape) {
        height: 25px;
    }

    &&[type="submit"] {
        width: 100%;
        @media (max-height: 470px) and (orientation: landscape) {
            margin-bottom: 5px;
        }
    }
}
 