@font-face {
  font-family: "Bebas Neue";
  src: url("../files/fonts/Bebas_Neue/BebasNeue-Regular.ttf");
  src: url("../files/fonts/Bebas_Neue/BebasNeue-Regular.otf")format("embedded-opentype");
  src: url("../files/fonts/Bebas_Neue/BebasNeue-Regular.ttf")format("truetype");
  src: url("../files/fonts/Bebas_Neue/BebasNeue-Regular.woff")format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("../files/fonts/Bebas_Neue/BebasNeue-Bold.ttf");
  src: url("../files/fonts/Bebas_Neue/BebasNeue-Bold.otf")format("embedded-opentype");
  src: url("../files/fonts/Bebas_Neue/BebasNeue-Bold.ttf")format("truetype");
  src: url("../files/fonts/Bebas_Neue/BebasNeue-Bold.woff")format("woff");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Cuprum";
  src: url("../files/fonts/Cuprum/Cuprum-Regular.ttf");
  src: url("../files/fonts/Cuprum/Cuprum-Regular.otf")format("embedded-opentype");
  src: url("../files/fonts/Cuprum/Cuprum-Regular.ttf")format("truetype");
  src: url("../files/fonts/Cuprum/Cuprum-Regular.woff")format("woff");
  font-style: normal;
  font-weight: normal;
}
