@background-height_phone: calc(100vh - @footer-height - @footer-offset - 300px);
@background-height_phone_port: calc(100vh - @footer-height - @footer-offset - 270px);
@background-height_small_portrait: calc(100vh - @footer-height - @footer-offset - 200px);

.backgroung-img {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;

  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);

  @media (max-width: @phone) and (orientation: portrait) {
    height: @background-height_phone;
  }

  @media (max-height: @phone) and (orientation: portrait) {
    height: calc(100vh - @footer-height - @footer-offset - 270px);
  }

  @media (max-height: @phone-height_small_portrait) and (orientation: portrait) {
    height: @background-height_small_portrait;
  }

  & .container {
    //  position: absolute;
    //  bottom: calc(@footer-offset + @footer-height);

    transform: translateY(calc(-@footer-offset - @footer-height)); //300px высота вложенного блока

    @media (max-width: @small_tablet) {
      transform: translateY(calc(-@footer-offset - @footer-height ));
    }

    @media (max-height: @phone) {
      transform: translateY(calc(-@footer-offset_phone - @footer-height_phone));
    }

    @media (max-width: @phone) and (orientation: portrait) {
      transform: translateY(-20px);
    }

    @media (max-height: @phone) and (orientation: portrait) {
      transform: translateY(-20px);
    }

    @media (max-height: @phone-height_small_portrait) and (orientation: portrait) {
      transform: translateY(-20px);
    }

    &::after {
      content: "";
      clear: both;
      display: block;
    }
  }
}

.backgroung-img__wrapper-img {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transition: all 0.5s linear; 
  background-size: cover;
  background-repeat: no-repeat;
  &.container {
    z-index: 1;
  }

  &.active {
    display: block;
    transition: all 0.5s linear;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }
/*
  &:nth-child(2) {
//    background: url(../img/index/background-img/2_backgroung-img.png), no-repeat;
    background-size: cover;
  }

  &:nth-child(3) {
    background: url(../img/index/background-img/3_backgroung-img.png), no-repeat;
    background-size: cover;
  }
*/
}

 
.backgroung-img__img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
 
.portfolio {
  // position: absolute;
  // bottom: calc(@footer-offset + @footer-height);
  // right: @padding-right;
  max-width: 48%;
  float: right;
  z-index: 1;

  &:after {
    content: "";
    display: block;
    clear: both;
  }

  @media (max-width: @phone) and (orientation: portrait) {
    float: none;
    margin: 0 auto;
    width: 100%;
    max-width: none;
  }

  & .wrapper {
    @media (min-width: @phone) {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
    }

    @media (max-width: @phone) {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;

      margin: 0;

      transition: @transition-settings;
    }

    @media (max-width: @phone) and (orientation: portrait) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      height: 37px;
      margin: 0;
      margin-top: 7px;

      transition: @transition-settings;
    }
  }
}

.portfolio__title {
  margin-top: 56px;
  width: 100%;

  max-height: 2em;
  font-weight: bold;
  font-size: 56px;
  text-align: right;
  color: #ffffff;
  overflow: auto; 
  word-break: break-all;
  overflow-wrap: anywhere;

  @media (max-width: @small_tablet) {
    font-size: 40px;
  }

  @media (max-width: @phone) and (orientation: portrait) {
    text-align: center;
    font-size: 24px; 
  }

  @media (max-height: @phone) {
    text-align: right;
    font-size: 30px; 
  }

  @media (max-height: @phone) and (orientation: portrait) {
    text-align: center;
  }
}

.portfolio__stack-list {
  margin-top: 12px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;

  @media (max-width: @phone) and (orientation: portrait) {
    justify-content: center;
  }
}

.portfolio__stack-list__item {
  margin-left: 25px;

  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;

  &:first-child {
    margin-left: 0;
  }

  @media (max-width: @small_tablet) {
    margin-left: 10px;
  }

  @media (max-width: @phone-width_landscape) and (orientation: landscape) {
    margin-left: 7px;
  }
}

.portfolio__veiev {
  margin-top: 12px;
  width: fit-content;
  float: right;

  @media (max-width: @phone) and (orientation: portrait) {
    display: inline-block;
    margin: 0;
    float: none;
    padding: 0;
    width: calc((100% - 10px) / 2);
    height: auto;
 
    vertical-align: middle;
    line-height: 2;
    text-align: center;
    font-size: 18px;
    background: rgba(0, 0, 0, 0.6);
    transition: all 0.3s linear;
    background: rgba(243, 21, 38, 0.6);

    &:hover {
      background: #f31526;
    }
  }
}

.portfolio__veiev-icon {
  margin-right: 6px;
  display: inline-block;

  vertical-align: middle;

  @media (max-width: @phone) and (orientation: portrait) {
    display: none;
  }
}

.portfolio__veiev-text {
  display: inline-block;

  vertical-align: middle;
  font-family: "Cuprum";
  font-style: normal;
  font-weight: bold;
  font-size: 100%; 
  @media (max-width: @phone) and (orientation:portrait) {
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Bebas Neue";
  }
}

.portfolio__all-protfolio {
  display: inline-block;
  padding: 33px 67px;
  margin-top: 22px;
  // width: 100%;

  font-weight: bold;
  font-size: 32px;
  line-height: 1;

  background: rgba(0, 0, 0, 0.6);
  border-radius: 1px;

  transition: @transition-settings;

  &:hover {
    background: #f31526;
  }

  @media (max-width: @small_tablet) {
    padding: 15px 37px;
    font-size: 26px;
  }

  @media (max-width: @phone) and (orientation: portrait) {
    display: inline-block;
    width: calc((100% - 10px) / 2);
    margin: 0;
    padding: 0;
    height: 100%;

    line-height: 2;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
  }

  @media (max-height: @phone) and (orientation: landscape) {
    display: inline-block;
    padding: 15px 37px;
    margin-top: 22px;
    // width: 100%;
    height: 52px;

    line-height: 22px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
  }
}

.portfolio__all-protfolio__img {
  margin-right: 10px;

  @media (max-height: @phone) {
    width: 18px;
    height: auto;
  }

  @media (max-width: @phone) and (orientation: portrait) {
    display: none;
  }

  @media (max-width: @phone-width_landscape) and (orientation: landscape) {
    display: none;
  }
}