
@header-height: 105px;
@header-height_phone-height: 55px;
@header-height_phone: 46px;

.main {
  position: fixed;
  width: 100%;
  height: calc(100vh - @header-height - @footer-height - @footer-offset);
  bottom: calc(@footer-offset + @footer-height);

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @media (max-width: @phone) and (orientation: portrait) {
    height: calc(100vh - @header-height_phone - @footer-height - @footer-offset + 20px);
    bottom: calc(@footer-offset + @footer-height - 20px);
  }

  @media (max-height: @phone) and (orientation: portrait),
  (max-width: @phone) and (orientation: landscape) {
    height: calc(100vh - @header-height_phone - @footer-height_phone - @footer-offset_phone);
    bottom: calc(@footer-offset_phone + @footer-height_phone);
  }

  @media (max-height: @phone) and (orientation: landscape) and (min-width: @phone) {
    height: calc(100vh - @header-height - @footer-height_phone - @footer-offset_phone );
    bottom: calc(@footer-offset_phone + @footer-height_phone);
  }

  @media (max-height: @phone-height) and (orientation: landscape) and (min-width: @phone) {
    height: calc(100vh - @header-height_phone-height - @footer-height_phone - @footer-offset_phone );
    bottom: calc(@footer-offset_phone + @footer-height_phone);
  }

  & .wrapper {
    @media (min-width: @phone) {
      position: unset;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    &::after {
      content: none;
      display: none;
      clear: none;
    }
  }

  &>.container {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}

@about-width_pc: 450px;
@about-width_tablet: 370px;
@about-width_small-tablet: 50%;

.about {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  width: @about-width_pc;
  z-index: 1;

  @media (max-width: 830px) {
    width: @about-width_tablet;
  }

  
  @media (max-width: @small_tablet), (max-height: @phone-height_small_portrait ) and (orientation: landscape) and (max-width: @pc){
    width: @about-width_small-tablet;
  }

  @media (max-width: @phone) and (orientation: portrait) {
    width: 90vw;
    margin: 0 auto;
  }
  
}

.navigation-service {
  width: 100%;

  @media (max-width: @phone) and (orientation: portrait) {
    display: flex;
    flex-direction: column;
  }
}

.navigation-service__title { 
  line-height: 1;
  margin-bottom: 27px;

  @media (max-width: @phone) and (orientation: portrait) {
    display: none;
  }

  @media (max-height: 680px) {
    display: none;
  }
}

.navigation-service__title-headline {
  text-transform: uppercase;
  font-size: 68px;
  font-weight: bold;
}

.navigation-service__title-head {
  font-family: "Cuprum";
  text-transform: initial;
  font-size: 36px;
}

.navigation-service__work-us {
  display: block;
  width: 100%;

  padding-top: 27px;
  padding-bottom: 27px;

  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-align: center;

  background: rgba(22, 14, 15, 0.8);
  border-radius: 1px;
  transition: @transition-settings;

  &:hover {
    background: #f31526;
  }

  @media (max-width: @small_tablet) {
    line-height: 1;
    font-size: 25px;
  }

  @media (max-width: @phone) and (orientation: portrait) {
    order: 2;
    margin-top: 9px;
    height: 64px;
    padding-top: 21px;

    line-height: 1;
    font-size: 25px;
    background: rgba(243, 21, 38, 0.6);

    &:hover {
      background: #f31526;
    }
  }

  @media (max-height: @phone) {
    padding-top: 21px;
    padding-bottom: 21px;

    line-height: 1;
    font-size: 25px;
  }

  @media (max-height: @phone-height) {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  @media (max-height: @phone-height_small_portrait) {
    padding-top: 7px;
    padding-bottom: 7px;
    height: auto;
  }
}

.navigation-service__row {
  width: 100%;
  height: 100px;
  margin-top: 10px;

  &:after {
    display: block;
    clear: both;
    content: "";
  }

  @media (max-width: @phone) and (orientation: portrait) {
    height: 64px;
  }

  @media (max-height: @phone) {
    margin-top: 7px;
    height: 64px;
  }

  @media (max-height: @phone-height) {
    margin-top: 7px;
    height: 47px;
  }

  @media (max-height: @phone-height_small_portrait) {
    height: 37px;
  }
}

.navigation-service__row-command,
.navigation-service__row-contancts {
  display: inline-block;

  width: calc((@about-width_pc - 10px) / 2);
  height: 100%;
  padding-top: 30px;

  font-weight: bold;
  font-size: 32px;
  text-align: center;

  background: rgba(0, 0, 0, 0.6);
  border-radius: 1px;
  transition: @transition-settings;

  &:hover {
    background: #000000;
  }

  @media (max-width: 830px) {
    width: calc((@about-width_tablet - 10px) / 2);
  }

  @media (max-width: @small_tablet) {
    width: calc((100% - 10px) / 2);
    font-size: 22px;
  }

  @media (max-width: @phone) and (orientation: portrait) {
    padding-top: 23px;
    width: calc((100% - 10px) / 2);
    margin: 0 auto;

    font-size: 22px;
  }

  @media (max-height: @phone) {
    padding-top: 17px;
    width: calc((100% - 10px) / 2);
    margin: 0 auto;

    font-size: 22px;
  }

  @media (max-height: @phone-height) {
    padding-top: 12px;
  }

  @media (max-height: @phone-height_small_portrait) {
    padding-top: 7px;
  }
}

.navigation-service__row-command {
  float: left;
}

.navigation-service__row-contancts {
  float: right;
}

.navigation-service__row-img {
  margin-right: 10px;

  @media (max-width: @phone) and (orientation: portrait) {
    width: 19px;
    height: auto;

    margin-right: 7px;
  }

  @media (max-height: @phone) {
    width: 19px;
    height: auto;

    margin-right: 7px;
  }

  @media (max-width: @phone-width_landscape) and (orientation: landscape) {
    display: none;
  }
}

@services-block_padding-right: 37px;
@services-block_padding-right_phone: 27px;

.navigation-service__block {
  position: relative;
  margin-top: 10px;
  padding: 28px 0;
  padding-left: @services-block_padding-right;

  background: rgba(0, 0, 0, 0.6);
  border-radius: 1px;

  & .wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  @media (max-width: @small_tablet) {
    padding: 19px 0;
    padding-left: @services-block_padding-right_phone;
  }

  @media (max-width: @phone) and (orientation: portrait) {
    padding: 19px 0;
    padding-left: @services-block_padding-right_phone;
  }

  @media (max-height: @phone) {
    padding: 17px 0;
    padding-left: 20px;
  }

  @media (max-height: @phone-height) {
    margin-top: 7px;
  }

  @media (max-height: @phone-height_small_portrait) {
    padding: 7px 0;
    padding-left: 17px;
  }
}

.navigation-service__block-item {
  position: relative;
  margin-top: 10px;
  padding-right: @services-block_padding-right;

  font-size: 48px;
  font-weight: bold;
  line-height: 1;
  z-index: 5;

  &:first-child {
    margin-top: 0;
  }

  &:hover:before {
    @offset: -5px;
    display: block;
    content: "";
    position: absolute;
    top: 30%;
    left: @offset;
    width: calc(100% - @offset);
    height: 80%;

    background: #f31526;
    z-index: -1;
    transition: @transition-settings;
  }

  @media (max-width: @small_tablet) {
    padding-right: @services-block_padding-right_phone;
    font-size: 28px;
  }

  @media (max-width: @phone) and (orientation: portrait) {
    padding-right: @services-block_padding-right_phone;
    font-size: 34px;
  }

  @media (max-height: @phone) {
    padding-right: 20px;
    font-size: 34px;
  }

  @media (max-height: @phone-height) {
    font-size: 28px;
  }
  @media (max-height: @phone-height_small_portrait) { 
    padding-right: 17px;
  }
  @media (max-height: @phone-height_small_landscape) {
    margin-top: 7px;
    font-size: 22px;
  }
}

.navigation-service__block-services {
  position: absolute;
  left: 0;
  bottom: 0;

  font-weight: bold;
  font-size: 36px;
  line-height: 1;
  text-transform: uppercase;

  @media (max-width: @small_tablet) {
    font-size: 26px;
  }

  @media (max-width: @phone) and (orientation: portrait) {
    font-size: 26px;
  }

  @media (max-height: @phone) {
    font-size: 26px;
  }

  @media (max-height: @phone-height) {
    font-size: 28px;
  }

  @media (max-height: @phone-height_small_landscape) {
    margin-top: 7px;
    font-size: 22px;
  }
}

.navigation-service__block-services_img {
  margin-right: 10px;

  @media (max-width: @phone) and (orientation: portrait) {
    margin-right: 7px;
    width: 19px;
    height: auto;
  }

  @media (max-height: @phone) {
    margin-right: 7px;
    width: 19px;
    height: auto;
  }
}

.portfolio__list {
  position: absolute; 
  top: 58px;
  right: @padding-right;

  width: fit-content;
  //padding-top: 58px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 1;

  @media (max-height: 670px) {
    flex-direction: row;
    align-items: flex-start;
  }

  @media (max-height: 710px) {
    top: 15px;
  }

  @media (max-height: @phone) {
    top: 25px;
  }

  @media (max-height: @phone-height) {
    top: 10px;
  }

  @media (max-height: @phone-height_small_landscape) {
    top: 0px;
  }

  @media (max-width: @phone) and (orientation: portrait) {
    display: none;
  }
}

.portfolio__list-item {
  width: fit-content;
  font-weight: bold;
  font-size: 18px;
  text-align: right;
  line-height: 36px;
  color: #ffffff;
  transition: 0.2s linear;

  @media (max-height: 670px) {
    margin: 0 8px;
    line-height: 250%;
  }

  &.active {
    font-size: 32px;
    line-height: 150%;
    color: #f31526;
  }

  &:hover {
    font-size: 32px;
    line-height: 150%;
    transition: 0.2s linear;
  }

  &:active {
    font-size: 32px;
    line-height: 150%;
    transition: 0.2s linear;
  }

  &:focus {
    font-size: 32px;
    line-height: 150%;
    transition: 0.2s linear;
  }
}