@service-height_tablet: 750px;
@service-height_tablet-medium: 630px;
@service-height_tablet-small: 460px;
.service {
    width: 100%;
    height: 100%;
    padding-top: 74px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    @media (max-height: @service-height_tablet) {
        padding-top: 5px;
    }
    @media (max-width: @phone) and (orientation: portrait) {
        padding: 0;
        flex-direction: column;
    }
}

.service-list { 
    width: 240px;
    z-index: 1; 
 /*
    @media (max-height: 700px) and (min-height: @phone-height + 1px) {
        transform: translate(0, -50px) ;
    }
*/
    @media (max-height: @service-height_tablet-medium) {
        min-width: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
    @media (max-width: @phone) and (orientation: portrait) { 
        height: 30%;
        width: auto;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.service-list__title {
    margin-bottom: 50px;

    font-weight: bold;
    font-size: 68px;
    z-index: 1;
    @media (max-height: @service-height_tablet-medium) {
        margin-bottom: 20px; 
        font-size: 58px;
    }
    @media (max-height: @service-height_tablet-small), (max-width: @phone) and (orientation: portrait) {
        width: 100%;
        margin-bottom: 10px; 
        font-size: 38px;
    }
    @media (max-width: @phone) and (orientation: portrait) {
        text-align:center;
        width: 110%;
        flex-basis: 100%; 
    } 
    @media (max-height: 650px) and (orientation: portrait) {
        font-size: 28px;
        margin-bottom: 5px; 
    }
}

.service-list__item {
    position: relative;
    margin-bottom: 20px;
    width: 100%;

    font-weight: bold;
    font-size: 48px;
    z-index: 1;
    @media (max-height: @service-height_tablet-medium) {
        margin-bottom: 10px; 
        font-size: 38px;
    }
    @media (max-height: @service-height_tablet-small),(max-width: @phone) and (orientation: portrait) {
        margin-bottom: 7px; 
         font-size: 28px; 
      }
    @media (max-width: @phone) and (orientation: portrait) {
        display: block;
        width: fit-content;
    }
    @media (max-height: 650px) and (orientation: portrait) {
        margin-bottom:3px; 
        font-size: 22px;
    }
} 
.service-list__link {
    display: inline-block;
    width: 100%;
    font-size: 100%;
    font-weight: bold;
    line-height: 1;

    @media (max-width: @phone) and (orientation: portrait) {
        width: 130px;
    }
    @media (max-height: 650px) and (orientation: portrait) {
        width: 100px;
    }

    &:hover:before {
        @offset: -5px;
        display: block;
        content: "";
        position: absolute;
        top: 30%;
        left: @offset;
        width: calc(100%);
        height: 70%;

        background: #f31526;
        z-index: -1;
        transition: @transition-settings;
    }
}
.service-description__list {
    max-width: 960px;
    height: 100%;
    margin-left: 35px;

    @media (max-width: @pc) { 
        max-width: 70%;
      }
      @media (max-height: @service-height_tablet-medium) {
          max-width: 75%;
      }
      @media (max-width: @service-height_tablet-medium) {  
      }
      @media (max-width: @phone) and (orientation: portrait) { 
          max-width: fit-content;
          width: 100%;
          height: 70%;
          margin: 0;
      }
}
.service-description.active {
    display: flex;
}

.service-description { 
    width: 100%;
    height: 100%;
    padding: 42px 50px;
    display: none;
    justify-content: space-between;
    align-items: flex-start;

    background: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 6.54%, rgba(0, 0, 0, 0) 127.72%);
    border-radius: 1px;
    @media (max-width: @pc) {
      padding: 22px 30px; 
    } 
    @media (max-width: @service-height_tablet-medium) { 
        padding: 12px 20px;
    }
    @media (max-width: @phone) and (orientation: portrait) {
        flex-direction: column; 
        margin: 0;
    }
}

.service-description__info {
    position: relative;
    padding-right: 20px;
    width: 70%;
    height: 100%;
    overflow: auto;

    font-size: 18px;
    line-height: 21px;
    @media (max-width: @service-height_tablet-medium) { 
        padding-right: 10px;
    }
    @media (max-width: @phone) and (orientation: portrait) {
       width: 100%;
    }
    /*
    &::before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 20%;
        bottom: 0;
        left: 0;

        background-color: red;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 6.54%, rgba(0, 0, 0, 0) 127.72%);
    }
    */
}

.service-description__info-title {
    margin-bottom: 20px;

    font-weight: bold;
    font-size: 48px;
    line-height: 1;
    @media (max-height: @service-height_tablet-medium) {
        margin-bottom: 10px; 
        font-size: 38px;
    }
    @media (max-height: @service-height_tablet-small) {
        margin-bottom: 7px; 
        font-size: 28px; 
      }
      @media (max-height: @service-height_tablet-small), (max-width: @phone) and (orientation: portrait) { 
        margin-bottom: 7px;
        font-size: 38px;
    } 
    @media (max-height: 650px) and (orientation: portrait) {
        margin-bottom: 3px;
        font-size: 28px;
    }
}

.service-description__info-block {
    font-size: 18px;
    @media (max-width:  @small_tablet) {
        font-size: 14px;
    } 
}

.service-description__info-text {
    font-family: "Cuprum";
    font-size: 100%; 
}

.service-description__info-img {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 21px;
}

.service-description__join {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    @media (max-width: @pc) {
        width: 30%;
    }
    @media (max-width: @service-height_tablet-medium) { 
        padding-left: 10px;
    }
    @media (max-width: @phone) and (orientation: portrait) { 
        margin-top: 8px;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    } 
}

.join__price {
    font-weight: bold;
    font-size: 48px;
    @media (max-width: @pc) {
        font-size: 38px;
        text-align: center;
    }
    @media (max-width: 550px) {
        font-size: 30px;
    }
    @media (max-width: @phone) and (orientation: portrait) { 
        font-size: 24px;
    } 

}
.join__rub {
    font-size: 100%;
    @media (max-width: @pc) {
        display: none;
      }
}
.join__price-sub {
    font-weight: bold;
    font-size: 60%;
    vertical-align: baseline;
    @media (max-width: @tablet) {
        display: block;
    }
    @media (max-width: @phone) and (orientation: portrait) { 
        display: inline;
    } 
}

.join__portfolio, .join__order {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; 
    height: auto;

    font-weight: bold;
    font-size: 36px;
    line-height: 2;

    background: rgba(0, 0, 0, 0.6);
    border-radius: 1px;
    @media (max-width: @pc) { 
        font-size: 26px; 
      }
    @media (max-width: @small_tablet) { 
        font-size: 20px; 
    }
    @media (max-width: @service-height_tablet-medium) { 
        font-size: 16px; 
    }
    @media (max-width: @phone) and (orientation: portrait) {
        width: 80px;
        margin: 0;
    } 
    @media (max-width: 340px) and (orientation: portrait) {
        width: 70px;
        margin: 0;
    } 
}

.join__order {
    background: rgba(243, 21, 38, 0.8);
}

.service-background {
    position: absolute;
    width: 45%;
    top: -90px;
    left: 20%;
    z-index: -1;
    @media (max-width: @phone), (max-height: @phone-height) {
        top: 0px;
    }
}

.service-background__img {
    width: 100%;
    height: auto;
}