<%= _.template(require('./template/_header.html'))(data) %>
<main class="main">
  <div class="container">
    <div class="apllication">
      <div class="headline">
        <div class="headline__title-wrapper">
          <h2 class="headline__title">Нужна помощь</h2>
          <h3 class="headline__sub-title">наша команда к вашим услугам</h3>
        </div>
        <img src="./img/application/application_superman.png" alt="logo" class="headline__img" />
      </div>
      <form action="" class="application-form" method="GET">
        <h2 class="application-form_title">Оставьте заявку</h2>
        <div class="application-form_inner">
          <input type="text" class="input" placeholder="Имя" name="name" />
          <input type="text" class="input" placeholder="Название компании" name="company_name" />
          <input type="tel" class="input" id="tel" placeholder="Телефон*" name="tel" pattern="(\+7[-_()\s]+|\+7\s?[(]{0,1}[0-9]{3}[)]{0,1}\s?\d{3}[-]{0,1}\d{2}[-]{0,1}\d{2})" autocomplete="tel" required />
          <input type="email" class="input" placeholder="Email" name="email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" autocomplete="email" required />
          <input type="text" class="input input_message" placeholder="Ваше сообщение" name="message" />
          <label for="input_file" class="input-file__wrapper">
            <img class="input-file__img" src="./img/application/icon_input_file.svg" alt="icon" />
            <p class="input-file__text">Прикрепить файл</p>
            <input type="file" id="input_file" class="input" name="file" />
          </label>
          <input type="submit" class="input submit" name="submit" />
          <label for="personal" class="label label-personal"> 
            <input type="checkbox" id="personal" class="input" name="personal" required />
             <p class="personal-input">Даю согласие на обработку персональных данных </p>
          </label>
        </div>
      </form>
    </div>
  </div>
</main>
<%= _.template(require('./template/_footer.html'))(data) %>
