<%= _.template(require('./template/_header.html'))(data) %>
<main class="main">
    <div class="container">
        <div class="league">
            <div class="league__wrapper">
                <h1 class="league__title">Лига чемпионов бизнеса</h1>
                <a class="portfolio__veiev league__viev" href="https://football.ru/" tabindex="0" target="_blank">
                    <img src="./img/index/icon/icon_viev.svg" alt="icon_viev" class="portfolio__veiev-icon" />
                    <p class="portfolio__veiev-text league__viev-text">football.ru</p>
                </a>
            </div>
        </div>
        <img src="./img/league/league_background.png" alt="league-background" class="league-background">
    </div>
</main>
<%= _.template(require('./template/_footer.html'))(data) %>
