<%= _.template(require('./template/_header.html'))(data) %>
<main class="main">
  <div class="container">
    <div class="command">
       <div class="command-head"> 
             <div class="command-head__title"><span class="command-head__subtitle">Наша</span> команда</div>
             <div class="command-head__arrow">
                   <button class="command-head__left">
                   </button>
                   <button class="command-head__right">
                   </button>  
             </div>       
       </div>
       <div class="photo"> 
                <div class="photo__list">  
                       <div class="photo__item"> 
                             <div class="photo__wrapper">
                                    <div class="photo__description">
                                  <div class="photo__name">Самвел <br class="photo__name-br"> Игитян</div> 
                                  <div class="photo__job-position">CO founder</div> 
                                  <div class="photo__socials">
                                          <a href="https://vk.com/devzero1" 
                                          class="photo__social-link">
                                                <img src="./img/index/icon_socials/icon_vk.svg" 
                                                alt="vk_icon" class="photo__social-img">
                                          </a> 
                                          <a href="https://www.instagram.com/zerone_agency/" 
                                          class="photo__social-link">
                                                <img src="./img/index/icon_socials/icon_inst.svg" 
                                                alt="inst_icon" class="photo__social-img">
                                          </a> 
                                    </div> 
                                  <div class="photo__description-text">
                                        <p class="photo__paragrapth">
                                              Самвел - ведущий PHP-программист, тимлид и просто красаучег!
                                        </p> 
                                        <p class="photo__paragrapth">
                                              Настоящий джигит. В совершенстве овладел древним искусством верстки по заветам тайной школы бутстрап. 
                                        </p> 
                                        <p class="photo__paragrapth">
                                              Движок битрикса знает лучше его разработчиков, способен разработать 
                                              и запустить любую программу даже на деревянных счетах
                                        </p> 
                                  </div> 
                                    </div>
                              </div>
                            <img src="./img/command/samvel.png" alt="photo" class="photo__img" />
                            <div class="photo__name photo__name-previously">Самвел <br> Игитян</div> 
                       </div>

                       <div class="photo__item"> 
                        <div class="photo__wrapper">
                              <div class="photo__description">
                              <div class="photo__name">Сандр <br class="photo__name-br"> Носачевский</div> 
                              <div class="photo__job-position">CO founder</div> 
                              <div class="photo__socials">
                                    <a href="https://vk.com/devzero1" 
                                    class="photo__social-link">
                                          <img src="./img/index/icon_socials/icon_vk.svg" 
                                          alt="vk_icon" class="photo__social-img">
                                    </a> 
                                    <a href="https://www.instagram.com/zerone_agency/" 
                                    class="photo__social-link">
                                          <img src="./img/index/icon_socials/icon_inst.svg" 
                                          alt="inst_icon" class="photo__social-img">
                                    </a> 
                              </div> 
                              <div class="photo__description-text">
                                    <p class="photo__paragrapth">
                                          Самвел - ведущий PHP-программист, тимлид и просто красаучег!
                                    </p> 
                                    <p class="photo__paragrapth">
                                          Настоящий джигит. В совершенстве овладел древним искусством верстки по заветам тайной школы бутстрап. 
                                    </p> 
                                    <p class="photo__paragrapth">
                                          Движок битрикса знает лучше его разработчиков, способен разработать 
                                          и запустить любую программу даже на деревянных счетах
                                    </p> 
                              </div> 
                              </div>
                        </div>
                        <img src="./img/command/sandr.png" alt="photo" class="photo__img" />
                        <div class="photo__name photo__name-previously">Сандр <br> Носачевский</div> 
                        </div>

                        <div class="photo__item"> 
                              <div class="photo__wrapper">
                                    <div class="photo__description">
                                    <div class="photo__name">Виктор <br class="photo__name-br"> Разумовский</div> 
                                    <div class="photo__job-position">CO founder</div> 
                                    <div class="photo__socials">
                                          <a href="https://vk.com/devzero1" 
                                          class="photo__social-link">
                                                <img src="./img/index/icon_socials/icon_vk.svg" 
                                                alt="vk_icon" class="photo__social-img">
                                          </a> 
                                          <a href="https://www.instagram.com/zerone_agency/" 
                                          class="photo__social-link">
                                                <img src="./img/index/icon_socials/icon_inst.svg" 
                                                alt="inst_icon" class="photo__social-img">
                                          </a> 
                                    </div> 
                                    <div class="photo__description-text">
                                          <p class="photo__paragrapth">
                                                Самвел - ведущий PHP-программист, тимлид и просто красаучег!
                                          </p> 
                                          <p class="photo__paragrapth">
                                                Настоящий джигит. В совершенстве овладел древним искусством верстки по заветам тайной школы бутстрап. 
                                          </p> 
                                          <p class="photo__paragrapth">
                                                Движок битрикса знает лучше его разработчиков, способен разработать 
                                                и запустить любую программу даже на деревянных счетах
                                          </p> 
                                    </div> 
                                    </div>
                              </div>
                              <img src="./img/command/victor.png" alt="photo" class="photo__img" />
                              <div class="photo__name photo__name-previously">Виктор <br> Разумовский</div> 
                         </div>

                         <div class="photo__item"> 
                              <div class="photo__wrapper">
                                    <div class="photo__description">
                                    <div class="photo__name">Елена <br class="photo__name-br"> Свиридова</div> 
                                    <div class="photo__job-position">CO founder</div> 
                                    <div class="photo__socials">
                                          <a href="https://vk.com/devzero1" 
                                          class="photo__social-link">
                                                <img src="./img/index/icon_socials/icon_vk.svg" 
                                                alt="vk_icon" class="photo__social-img">
                                          </a> 
                                          <a href="https://www.instagram.com/zerone_agency/" 
                                          class="photo__social-link">
                                                <img src="./img/index/icon_socials/icon_inst.svg" 
                                                alt="inst_icon" class="photo__social-img">
                                          </a> 
                                    </div> 
                                    <div class="photo__description-text">
                                          <p class="photo__paragrapth">
                                                Самвел - ведущий PHP-программист, тимлид и просто красаучег!
                                          </p> 
                                          <p class="photo__paragrapth">
                                                Настоящий джигит. В совершенстве овладел древним искусством верстки по заветам тайной школы бутстрап. 
                                          </p> 
                                          <p class="photo__paragrapth">
                                                Движок битрикса знает лучше его разработчиков, способен разработать 
                                                и запустить любую программу даже на деревянных счетах
                                          </p> 
                                    </div> 
                                    </div>
                              </div>
                              <img src="./img/command/helen.png" alt="photo" class="photo__img" />
                              <div class="photo__name photo__name-previously">Елена <br> Свиридова</div> 
                         </div>

                        <div class="photo__item">
                              <div class="photo__wrapper"> 
                                    <div class="photo__description">
                                    <div class="photo__name">Наталья <br class="photo__name-br"> Белозерцева</div> 
                                    <div class="photo__job-position">CO founder</div> 
                                    <div class="photo__socials">
                                          <a href="https://vk.com/devzero1" 
                                          class="photo__social-link">
                                                <img src="./img/index/icon_socials/icon_vk.svg" 
                                                alt="vk_icon" class="photo__social-img">
                                          </a> 
                                          <a href="https://www.instagram.com/zerone_agency/" 
                                          class="photo__social-link">
                                                <img src="./img/index/icon_socials/icon_inst.svg" 
                                                alt="inst_icon" class="photo__social-img">
                                          </a> 
                                    </div> 
                                    <div class="photo__description-text">
                                          <p class="photo__paragrapth">
                                                Самвел - ведущий PHP-программист, тимлид и просто красаучег!
                                          </p> 
                                          <p class="photo__paragrapth">
                                                Настоящий джигит. В совершенстве овладел древним искусством верстки по заветам тайной школы бутстрап. 
                                          </p> 
                                          <p class="photo__paragrapth">
                                                Движок битрикса знает лучше его разработчиков, способен разработать 
                                                и запустить любую программу даже на деревянных счетах
                                          </p> 
                                    </div> 
                                    </div>
                              </div>
                              <img src="./img/command/natali.png" alt="photo" class="photo__img" />
                              <div class="photo__name photo__name-previously">Наталья <br> Белозерцева</div> 
                         </div>

                         <div class="photo__item"> 
                              <div class="photo__wrapper">
                                    <div class="photo__description">
                                    <div class="photo__name">Самвел <br class="photo__name-br"> Игитян</div> 
                                    <div class="photo__job-position">CO founder</div> 
                                    <div class="photo__socials">
                                          <a href="https://vk.com/devzero1" 
                                          class="photo__social-link">
                                                <img src="./img/index/icon_socials/icon_vk.svg" 
                                                alt="vk_icon" class="photo__social-img">
                                          </a> 
                                          <a href="https://www.instagram.com/zerone_agency/" 
                                          class="photo__social-link">
                                                <img src="./img/index/icon_socials/icon_inst.svg" 
                                                alt="inst_icon" class="photo__social-img">
                                          </a> 
                                    </div> 
                                    <div class="photo__description-text">
                                          <p class="photo__paragrapth">
                                                Самвел - ведущий PHP-программист, тимлид и просто красаучег!
                                          </p> 
                                          <p class="photo__paragrapth">
                                                Настоящий джигит. В совершенстве овладел древним искусством верстки по заветам тайной школы бутстрап. 
                                          </p> 
                                          <p class="photo__paragrapth">
                                                Движок битрикса знает лучше его разработчиков, способен разработать 
                                                и запустить любую программу даже на деревянных счетах
                                          </p> 
                                    </div> 
                                    </div>
                              </div>
                              <img src="./img/command/sandr.png" alt="photo" class="photo__img" />
                              <div class="photo__name photo__name-previously">Самвел <br> Игитян</div> 
                         </div>

                         <div class="photo__item">
                              <div class="photo__wrapper"> 
                                    <div class="photo__description">
                                    <div class="photo__name">Самвел <br class="photo__name-br"> Игитян</div> 
                                    <div class="photo__job-position">CO founder</div> 
                                    <div class="photo__socials">
                                          <a href="https://vk.com/devzero1" 
                                          class="photo__social-link">
                                                <img src="./img/index/icon_socials/icon_vk.svg" 
                                                alt="vk_icon" class="photo__social-img">
                                          </a> 
                                          <a href="https://www.instagram.com/zerone_agency/" 
                                          class="photo__social-link">
                                                <img src="./img/index/icon_socials/icon_inst.svg" 
                                                alt="inst_icon" class="photo__social-img">
                                          </a> 
                                    </div> 
                                    <div class="photo__description-text">
                                          <p class="photo__paragrapth">
                                                Самвел - ведущий PHP-программист, тимлид и просто красаучег!
                                          </p> 
                                          <p class="photo__paragrapth">
                                                Настоящий джигит. В совершенстве овладел древним искусством верстки по заветам тайной школы бутстрап. 
                                          </p> 
                                          <p class="photo__paragrapth">
                                                Движок битрикса знает лучше его разработчиков, способен разработать 
                                                и запустить любую программу даже на деревянных счетах
                                          </p> 
                                    </div> 
                                    </div>
                              </div>
                              <img src="./img/command/sandr.png" alt="photo" class="photo__img" />
                              <div class="photo__name photo__name-previously">Самвел <br> Игитян</div> 
                         </div>

                         <div class="photo__item">
                              <div class="photo__wrapper"> 
                                    <div class="photo__description">
                                    <div class="photo__name">Самвел <br class="photo_name-br"> Игитян</div> 
                                    <div class="photo__job-position">CO founder</div> 
                                    <div class="photo__socials">
                                          <a href="https://vk.com/devzero1" 
                                          class="photo__social-link">
                                                <img src="./img/index/icon_socials/icon_vk.svg" 
                                                alt="vk_icon" class="photo__social-img">
                                          </a> 
                                          <a href="https://www.instagram.com/zerone_agency/" 
                                          class="photo__social-link">
                                                <img src="./img/index/icon_socials/icon_inst.svg" 
                                                alt="inst_icon" class="photo__social-img">
                                          </a> 
                                    </div> 
                                    <div class="photo__description-text">
                                          <p class="photo__paragrapth">
                                                Самвел - ведущий PHP-программист, тимлид и просто красаучег!
                                          </p> 
                                          <p class="photo__paragrapth">
                                                Настоящий джигит. В совершенстве овладел древним искусством верстки по заветам тайной школы бутстрап. 
                                          </p> 
                                          <p class="photo__paragrapth">
                                                Движок битрикса знает лучше его разработчиков, способен разработать 
                                                и запустить любую программу даже на деревянных счетах
                                          </p> 
                                    </div> 
                                    </div>
                              </div>
                              <img src="./img/command/sandr.png" alt="photo" class="photo__img" />
                              <div class="photo__name photo__name-previously">Самвел <br> Игитян</div> 
                         </div>
                </div>
       </div>
       </div>
    </div>
  </div>
</main>
<%= _.template(require('./template/_footer.html'))(data) %>
