<%= _.template(require('./template/_header.html'))(data) %>
<main class="main">
  <div class="container">
    <div class="contacts">
          <div class="contact-info">
            <h2 class="contact-info__title">Контакты</h2>
            <div class="contact-info__wrapper contact-info__wrapper-tel">
              <h3 class="contact-info__subtitle contact-info__tel">Телефоны/Telegram</h3>
              <a href="tel:+79914575085" class="contact-info__link"><sub class="contact-info_sub">+7 991</sub> 457-50-85</a>
              <a href="tel:+79914698522" class="contact-info__link"><sub class="contact-info_sub">+7 991</sub> 469-85-22</a>
            </div>
            <div class="contact-info__wrapper">
              <h3 class="contact-info__subtitle">Офис</h3>
              <a href="https://goo.gl/maps/jNXFrErGBCNoe6u37" class="contact-info__link"><sub class="contact-info_sub">Пенза</sub>, ул. Ленина 6<br> ОФ. 305</a>
            </div>
            <div class="contact-info__wrapper">
              <h3 class="contact-info__subtitle">Email</h3>
              <a href="mailto:info@zero-1.ru" class="contact-info__link"><sub class="contact-info_sub">info</sub>@zero-1.ru</a>
            </div>
            <div class="contact-info__wrapper">
              <a href="./files/contacts/zerone.pptx" class="contact-info__link contact-info_download" download>
                скачать презентацию
              </a>
            </div>
          </div>
          <div class="contact-form">
              <h2 class="application-form_title">Начать проект</h2>
           <!--    <div class="contact-form__inner"> -->
                <input type="text" class="input conctact-input" placeholder="Имя" name="name" />
                <input type="tel" class="input conctact-input" id="tel" placeholder="Телефон*" name="tel" pattern="(\+7[-_()\s]+|\+7\s?[(]{0,1}[0-9]{3}[)]{0,1}\s?\d{3}[-]{0,1}\d{2}[-]{0,1}\d{2})" autocomplete="tel" required />
                <input type="text" class="input input_message conctact-input" placeholder="Ваше сообщение" name="message" />
                <input type="submit" class="input submit conctact-input" name="submit" />
                <label for="personal" class="label label-personal"> 
                  <input type="checkbox" id="personal" class="input" name="personal" required />
                  <p class="personal-input">Даю согласие на обработку персональных данных </p>
                </label>
            <!-- </div> -->
          </div>
      </div>
    </div>
  </div>
</main>
<%= _.template(require('./template/_footer.html'))(data) %>
