<%= _.template(require('./template/_header.html'))(data) %>
<main class="main">
  <div class="container">
    <aside class="about">
      <nav class="navigation-service">
        <div class="navigation-service__title">
          <h1 class="navigation-service__title-headline">Аутсорсинг</h1>
          <h2 class="navigation-service__title-head">web и mobile разработки</h2>
        </div>
        <a href="./application.html" class="navigation-service__work-us">Работа с нами</a>
        <div class="navigation-service__row">
          <a href="./command.html" class="navigation-service__row-command"> <img src="./img/index/icon/icon_command.svg" alt="icon_command" class="navigation-service__row-img" />Команда</a>
          <a href="./contacts.html" class="navigation-service__row-contancts">
            <img src="./img/index/icon/icon_contact.svg" alt="icon_contacts" class="navigation-service__row-img" />
            Контакты
          </a>
        </div>
        <div class="navigation-service__block">
          <div class="wrapper">
            <a href="./service.html" class="navigation-service__block-item">UI/UX Design</a>
            <a href="./service.html" class="navigation-service__block-item">Frontend</a>
            <a href="./service.html" class="navigation-service__block-item">backend</a>
            <a href="./service.html" class="navigation-service__block-services">
              <img src="./img/index/icon/icon_services.svg" alt="icon_services" class="navigation-service__block-services_img" />
              услуги
            </a>
          </div>
        </div>
      </nav>
    </aside>
    <ul class="portfolio__list">
      <li class="portfolio__list-item" tabindex="0" data-slide="0">01</li>
      <li class="portfolio__list-item active" tabindex="0" data-slide="1">02</li>
      <li class="portfolio__list-item" tabindex="0" data-slide="2">03</li>
      <li class="portfolio__list-item" tabindex="0" data-slide="3">04</li>
      <li class="portfolio__list-item" tabindex="0" data-slide="4">05</li>
      <li class="portfolio__list-item" tabindex="0" data-slide="5">06</li>
    </ul>
  </div>
  <div class="backgroung-img" id="background"> 
    <div class="backgroung-img__wrapper-img">
      <div style="background-image: url(../img/index/background-img/none_backgroung-img.png)" class="backgroung-img__img"></div>
    </div>
    <div class="backgroung-img__wrapper-img active" >
   <!--    <img src="./img/index/background-img/2_backgroung-img.png" alt="background-image" class="backgroung-img__img" />
      -->
    <div class="container">
        <section class="portfolio">
          <h3 class="portfolio__title">Футбольная лига</h3>
          <ul class="portfolio__stack-list">
            <li class="portfolio__stack-list__item">Frontend</li>
            <li class="portfolio__stack-list__item">Backend</li>
            <li class="portfolio__stack-list__item">Design</li>
            <li class="portfolio__stack-list__item">UX/UI</li>
          </ul>
          <div class="wrapper">
            <a class="portfolio__veiev" href="./case_league.html" tabindex="0">
              <img src="./img/index/icon/icon_viev.svg" alt="icon_viev" class="portfolio__veiev-icon" />
              <p class="portfolio__veiev-text">Смотреть кейс</p>
            </a>
            <a href="#" class="portfolio__all-protfolio">
              <img src="./img/index/icon/icon_portfolio.svg" alt="icon_portfolio" class="portfolio__all-protfolio__img" />
              ВСЕ ПОРТФОЛИО
            </a>
          </div>
        </section>
      </div>
      <div style="background-image: url(../img/index/background-img/2_backgroung-img.png)" class="backgroung-img__img"></div>
    </div>
    <div class="backgroung-img__wrapper-img">
        <div class="container">
        <section class="portfolio">
          <h3 class="portfolio__title">PETLIFE</h3>
          <ul class="portfolio__stack-list">
            <li class="portfolio__stack-list__item">Frontend</li>
            <li class="portfolio__stack-list__item">Backend</li>
            <li class="portfolio__stack-list__item">Design</li>
          </ul>
          <div class="wrapper">
            <a class="portfolio__veiev" href="#" tabindex="0">
              <img src="./img/index/icon/icon_viev.svg" alt="icon_viev" class="portfolio__veiev-icon" />
              <p class="portfolio__veiev-text">Смотреть кейс</p>
            </a>
            <a href="#" class="portfolio__all-protfolio">
              <img src="./img/index/icon/icon_portfolio.svg" alt="icon_portfolio" class="portfolio__all-protfolio__img" />
              ВСЕ ПОРТФОЛИО</a>
          </div>
        </section>
      </div>
      <div style="background-image: url(../img/index/background-img/3_backgroung-img.png)" class="backgroung-img__img"></div>
    </div>
    <div class="backgroung-img__wrapper-img">
      <div style="background-image: url(../img/index/background-img/none_backgroung-img.png)" class="backgroung-img__img"></div>
    </div>
    <div class="backgroung-img__wrapper-img">
      <div style="background-image: url(../img/index/background-img/none_backgroung-img.png)" class="backgroung-img__img"></div>
    </div>
    <div class="backgroung-img__wrapper-img">
      <div style="background-image: url(../img/index/background-img/none_backgroung-img.png)" class="backgroung-img__img"></div>
    </div>
  </div>
</main>
<%= _.template(require('./template/_footer.html'))(data) %>
