<%= _.template(require('./template/_header.html'))(data) %>
<main class="main">
  <div class="container">
    <div class="service">
          <ul class="service-list">
                <h2 class="service-list__title">Услуги</h2>
                <li class="service-list__item active" data-num="0"><a href="#" class="service-list__link">UX/UI DESIGN</a></li>
                <li class="service-list__item" data-num="1"><a href="#" class="service-list__link">frontend</a></li>
                <li class="service-list__item" data-num="2"><a href="#" class="service-list__link">backend</a></li>
                <li class="service-list__item" data-num="3"><a href="#" class="service-list__link">mobile</a></li>
                <li class="service-list__item" data-num="4"><a href="#" class="service-list__link">marketing</a></li> 
          </ul>
        <div class="service-description__list"> 
          <div class="service-description active">
              <div class="service-description__info">
                <h3 class="service-description__info-title">UI/UX DESIGN</h3>
                 <div class="service-description__info-block">
                    <p class="service-description__info-text">Идея. Все начинается с нее. Созадать новый сервис, сделать редизайн интернет-магазина и т.д. Энтузиазм пропадает, когда нужно составить ТЗ 
                        для дизайнеров и разработчиков. Словно общаетесь с иностранцем через переводчик. UX оригами позволяет структурировать мысли, собрать все системные требования интерфейса и найти до 30% упущенного функционала, что позволит избежать незапланированных затрат при реализации дизайна и программирования. Подходит как для проектов, которые делаются с нуля, так и для переосмысления пользовательского опыта на действующих проектах. После данного этапа делается интерактивный прототип для визуализации интерфейса. Документ полностью заменяет первичное ТЗ и легко воспринимается digital специалистами. Эта предварительная работа необходима для точной оценки 
                    </p>
                    <br>
                    <p class="service-description__info-text">Период работ:</p>
                    <p class="service-description__info-text">5-7 дней</p>
                    <br>
                    <hr>
                    <br>
                    <p class="service-description__info-text">
                        - Брифинг, разбираем все сценарии и шаги использования интерфейса
                        - Описание проекта
                        - Определение интерфейсных ролей (авторизованный, не авторизованный, админ и.т.д.)
                        - Юзер стори для каждой роли (Что может сделать)
                        - Информационная архитектура (Список страниц для реализации)
                     </p>
                  <img src="./img/service/info_img_ux-ui.png" alt="img_ux-ui" class="service-description__info-img">
                  </div>
              </div>
            
              <div class="service-description__join">
                <div class="join__price"><strong class="join__rub">&#8381</strong> 1 000 <sub class="join__price-sub">руб/час</sub></div>
                <a href="#" class="join__portfolio">Портфолио</a>
                <a href="./application.html" class="join__order">Заказать</a>
              </div>
          </div>
          <div class="service-description">
            <div class="service-description__info">
              <h3 class="service-description__info-title">FRONTEND</h3>
               <div class="service-description__info-block">
                  <p class="service-description__info-text">Идея. Все начинается с нее. Созадать новый сервис, сделать редизайн интернет-магазина и т.д. Энтузиазм пропадает, когда нужно составить ТЗ 
                      для дизайнеров и разработчиков. Словно общаетесь с иностранцем через переводчик. UX оригами позволяет структурировать мысли, собрать все системные требования интерфейса и найти до 30% упущенного функционала, что позволит избежать незапланированных затрат при реализации дизайна и программирования. Подходит как для проектов, которые делаются с нуля, так и для переосмысления пользовательского опыта на действующих проектах. После данного этапа делается интерактивный прототип для визуализации интерфейса. Документ полностью заменяет первичное ТЗ и легко воспринимается digital специалистами. Эта предварительная работа необходима для точной оценки 
                  </p>
                  <br>
                  <p class="service-description__info-text">Период работ:</p>
                  <p class="service-description__info-text">5-7 дней</p>
                  <br>
                  <hr>
                  <br>
                  <p class="service-description__info-text">
                      - Брифинг, разбираем все сценарии и шаги использования интерфейса
                      - Описание проекта
                      - Определение интерфейсных ролей (авторизованный, не авторизованный, админ и.т.д.)
                      - Юзер стори для каждой роли (Что может сделать)
                      - Информационная архитектура (Список страниц для реализации)
                   </p>
                <img src="./img/service/info_img_ux-ui.png" alt="img_ux-ui" class="service-description__info-img">
                </div>
            </div>
          
            <div class="service-description__join">
              <div class="join__price"><strong class="join__rub">&#8381</strong> 1 000 <sub class="join__price-sub">руб/час</sub></div>
              <a href="#" class="join__portfolio">Портфолио</a>
              <a href="./application.html" class="join__order">Заказать</a>
            </div>
          </div>
          <div class="service-description">
            <div class="service-description__info">
              <h3 class="service-description__info-title">BACKEND</h3>
               <div class="service-description__info-block">
                  <p class="service-description__info-text">Идея. Все начинается с нее. Созадать новый сервис, сделать редизайн интернет-магазина и т.д. Энтузиазм пропадает, когда нужно составить ТЗ 
                      для дизайнеров и разработчиков. Словно общаетесь с иностранцем через переводчик. UX оригами позволяет структурировать мысли, собрать все системные требования интерфейса и найти до 30% упущенного функционала, что позволит избежать незапланированных затрат при реализации дизайна и программирования. Подходит как для проектов, которые делаются с нуля, так и для переосмысления пользовательского опыта на действующих проектах. После данного этапа делается интерактивный прототип для визуализации интерфейса. Документ полностью заменяет первичное ТЗ и легко воспринимается digital специалистами. Эта предварительная работа необходима для точной оценки 
                  </p>
                  <br>
                  <p class="service-description__info-text">Период работ:</p>
                  <p class="service-description__info-text">5-7 дней</p>
                  <br>
                  <hr>
                  <br>
                  <p class="service-description__info-text">
                      - Брифинг, разбираем все сценарии и шаги использования интерфейса
                      - Описание проекта
                      - Определение интерфейсных ролей (авторизованный, не авторизованный, админ и.т.д.)
                      - Юзер стори для каждой роли (Что может сделать)
                      - Информационная архитектура (Список страниц для реализации)
                   </p>
                <img src="./img/service/info_img_ux-ui.png" alt="img_ux-ui" class="service-description__info-img">
                </div>
            </div>
          
            <div class="service-description__join">
              <div class="join__price"><strong class="join__rub">&#8381</strong> 1 000 <sub class="join__price-sub">руб/час</sub></div>
              <a href="#" class="join__portfolio">Портфолио</a>
              <a href="./application.html" class="join__order">Заказать</a>
            </div>
          </div>
          <div class="service-description">
            <div class="service-description__info">
              <h3 class="service-description__info-title">MOBILE</h3>
               <div class="service-description__info-block">
                  <p class="service-description__info-text">Идея. Все начинается с нее. Созадать новый сервис, сделать редизайн интернет-магазина и т.д. Энтузиазм пропадает, когда нужно составить ТЗ 
                      для дизайнеров и разработчиков. Словно общаетесь с иностранцем через переводчик. UX оригами позволяет структурировать мысли, собрать все системные требования интерфейса и найти до 30% упущенного функционала, что позволит избежать незапланированных затрат при реализации дизайна и программирования. Подходит как для проектов, которые делаются с нуля, так и для переосмысления пользовательского опыта на действующих проектах. После данного этапа делается интерактивный прототип для визуализации интерфейса. Документ полностью заменяет первичное ТЗ и легко воспринимается digital специалистами. Эта предварительная работа необходима для точной оценки 
                  </p>
                  <br>
                  <p class="service-description__info-text">Период работ:</p>
                  <p class="service-description__info-text">5-7 дней</p>
                  <br>
                  <hr>
                  <br>
                  <p class="service-description__info-text">
                      - Брифинг, разбираем все сценарии и шаги использования интерфейса
                      - Описание проекта
                      - Определение интерфейсных ролей (авторизованный, не авторизованный, админ и.т.д.)
                      - Юзер стори для каждой роли (Что может сделать)
                      - Информационная архитектура (Список страниц для реализации)
                   </p>
                <img src="./img/service/info_img_ux-ui.png" alt="img_ux-ui" class="service-description__info-img">
                </div>
            </div>
          
            <div class="service-description__join">
              <div class="join__price"><strong class="join__rub">&#8381</strong> 1 000 <sub class="join__price-sub">руб/час</sub></div>
              <a href="#" class="join__portfolio">Портфолио</a>
              <a href="./application.html" class="join__order">Заказать</a>
            </div>
          </div>
          <div class="service-description">
            <div class="service-description__info">
              <h3 class="service-description__info-title">MARKETING</h3>
               <div class="service-description__info-block">
                  <p class="service-description__info-text">Идея. Все начинается с нее. Созадать новый сервис, сделать редизайн интернет-магазина и т.д. Энтузиазм пропадает, когда нужно составить ТЗ 
                      для дизайнеров и разработчиков. Словно общаетесь с иностранцем через переводчик. UX оригами позволяет структурировать мысли, собрать все системные требования интерфейса и найти до 30% упущенного функционала, что позволит избежать незапланированных затрат при реализации дизайна и программирования. Подходит как для проектов, которые делаются с нуля, так и для переосмысления пользовательского опыта на действующих проектах. После данного этапа делается интерактивный прототип для визуализации интерфейса. Документ полностью заменяет первичное ТЗ и легко воспринимается digital специалистами. Эта предварительная работа необходима для точной оценки 
                  </p>
                  <br>
                  <p class="service-description__info-text">Период работ:</p>
                  <p class="service-description__info-text">5-7 дней</p>
                  <br>
                  <hr>
                  <br>
                  <p class="service-description__info-text">
                      - Брифинг, разбираем все сценарии и шаги использования интерфейса
                      - Описание проекта
                      - Определение интерфейсных ролей (авторизованный, не авторизованный, админ и.т.д.)
                      - Юзер стори для каждой роли (Что может сделать)
                      - Информационная архитектура (Список страниц для реализации)
                   </p>
                <img src="./img/service/info_img_ux-ui.png" alt="img_ux-ui" class="service-description__info-img">
                </div>
            </div>
          
            <div class="service-description__join">
              <div class="join__price"><strong class="join__rub">&#8381</strong> 1 000 <sub class="join__price-sub">руб/час</sub></div>
              <a href="#" class="join__portfolio">Портфолио</a>
              <a href="./application.html" class="join__order">Заказать</a>
            </div>
          </div>
        </div>
          <div class="service-background">
            <img src="./img/service/service_background.png" alt="service_background_img" class="service-background__img">
        </div>  
       </div>
 
    </div>
  </div>
</main>
<%= _.template(require('./template/_footer.html'))(data) %>
